<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <MudDialog>
        <DialogContent>
            <div class="d-flex flex-column py-1">
                <MudTextField InputType="InputType.Text" Label='@Localizer["label-admin-edit-user-first-name"]' @bind-Value="model.FirstName" For="(() => model.FirstName)" />
                <MudTextField InputType="InputType.Text" Label='@Localizer["label-admin-edit-user-last-name"]' @bind-Value="model.LastName" For="(() => model.LastName)" />
                <MudTextField InputType="InputType.Email" Label='@Localizer["label-admin-edit-user-email"]' @bind-Value="model.Email" For="(() => model.Email)" />
                <MudTextField InputType="InputType.Password" Label='@Localizer["label-admin-edit-user-password"]' @bind-Value="model.Password" For="(() => model.Password)" />
                @if (model.IsAdminEdit)
                {
                    <MudSelect T="int?" Label='@Localizer["label-admin-edit-user-role"]' AnchorOrigin="Origin.BottomCenter" @bind-Value="@model.RoleId"  For="(() => model.RoleId)">
                        @foreach(var role in roles)
                        {
                            <MudSelectItem T="int?" Value="@role.Id">@role.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudCheckBox Label='@Localizer["label-admin-edit-user-is-active"]' @bind-Checked="model.IsActive" />
                    <MudCheckBox Label='@Localizer["label-admin-edit-user-is-trained"]' @bind-Checked="model.IsTrained" />
                }
                <MudTextField InputType="InputType.Telephone" Label='@Localizer["label-admin-edit-user-phone-number"]' @bind-Value="model.PhoneNumber" For="(() => model.PhoneNumber)" />
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@Localizer["button-admin-edit-submit"]</MudButton>
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Secondary" OnClick="OnCloseClick">@Localizer["button-admin-edit-close"]</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog {get;set;}
    [Parameter]
    public int Id {get;set;}

    public class EditUserForm
    {
        public int Id {get;set;}
        public string? FirstName {get;set;}
        public string? LastName {get;set;}
        [RegularExpression("^.*(?=.{8,})(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!*@#$%^&+=]).*$",
            ErrorMessageResourceName = "error_activate_regex_password", 
            ErrorMessageResourceType = typeof(Resources.App))]
        public string? Password {get;set;}
        public string? Email {get;set;}
        public bool IsActive {get;set;}
        public int? RoleId {get;set;}
        public bool IsTrained {get;set;}
        public string? PhoneNumber {get;set;}
        public string? Photo {get;set;}
        public bool IsAdminEdit {get;set;}
        public int EditingUserId {get;set;}
    }

    private EditUserForm model = new EditUserForm();

    private IEnumerable<Role> roles = new List<Role>();

    protected override async void OnInitialized()
    {
        GetRoles();
        GetUserData();
    }

    private async void GetRoles()
    {
        roles = await RoleService.GetAll();
        StateHasChanged();
    }

    private async void GetUserData()
    {
        var user = await UserService.GetById(Id);

        if(user == null)
        {
            Snackbar.Add(Localizer["snackbar-admin-edit-user-error-user-data"], Severity.Error);
            MudDialog.Close();
            return;
        }

        model = new EditUserForm
        {
            Id = user.Id,
            FirstName = user.FirstName,
            LastName = user.LastName,
            Email = user.Email,
            IsActive = user.IsActive,
            IsTrained = user.IsTrained,
            PhoneNumber = user.PhoneNumber,
            Photo = user.Photo,
            IsAdminEdit = user.Id != AuthenticationService.User.Id,
            EditingUserId = AuthenticationService.User.Id
        };

        StateHasChanged();
    }

    public async void OnValidSubmit()
    {
        try
        {
            await UserService.EditUser(model.Id, model.FirstName, model.LastName, model.Password, model.Email, model.IsActive, model.RoleId, model.IsTrained, model.PhoneNumber, model.Photo, model.IsAdminEdit, model.EditingUserId);
            Snackbar.Add(Localizer["snackbar-admin-edit-success"], Severity.Success);
            MudDialog.Close();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
            MudDialog.Close();
        }
    }

    private async void OnCloseClick()
    {
        MudDialog.Close();
    }
}